<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>コメント付きマップ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script>
    const shops = [
        {% for shop in shops %}
        { "lat":{{ shop.lat }},"lon":{{ shop.lon }},"name":"{{ shop.name }}" },
        {% endfor %}
    ]
</script>
<style>
#map {
    height:90vh;
}

img {
    max-width:100%;
}
i {
    font-size:1.5rem;
    color:orange;
}


</style>

</head>
<body>

    <h1 class="bg-success text-white text-center">コメント付きマップ</h1>

    <main>

        <div class="row mx-0">

            <div class="col-sm-6">
                <div id="map"></div>
            </div>

            <div class="col-sm-6">
                {% block content_area %}
                {% endblock %}
            </div>
        </div>

    </main>

    <script>
        //マップの表示位置を指定(緯度・経度)
        MAP = L.map('map').setView([34.6217684, -227.2109985], 9);
        MARKER = null;

        //地図データはOSMから読み込み
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(MAP);

        for (let shop of shops ){
            L.marker([shop["lat"], shop["lon"]]).addTo(MAP).bindPopup(shop["name"]).openPopup();
        }

        //マウスクリックで緯度と経度の取得とポイント設置
        function map_click(e) {

            if (MARKER){
                MAP.removeLayer(MARKER);
            }

            MARKER = L.marker(e.latlng).addTo(MAP);
            console.log(e.latlng);

            $("#lat_input").val(Math.round(e.latlng["lat"]*1000000)/1000000);
            $("#lon_input").val(Math.round(e.latlng["lng"]*1000000)/1000000);
        }
        MAP.on('click', map_click);
    </script>
</body>
</html>

